<!DOCTYPE html>
<html>
  <head>
    <title>Classroom Dashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <% if admin_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <!-- deleted user sign in check (see above)  -->
            <li><%= link_to "SIGN OUT", destroy_admin_session_path, method: :delete %></li>
          </ul>

          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "MY SECTIONS", root_path, class: "navbar-brand"%></li>
          </ul>

        <% else %>
          <ul class="nav navbar-nav">
            <li><%=link_to "SIGN UP", new_admin_registration_path %></li>
            <li><%= link_to "LOGIN", new_admin_session_path%></li>
          </ul>
        <% end %>

        <div class="navbar-header">
          <%= link_to "CLASSROOM DASHBOARD", root_path, class: "navbar-brand" %>
        </div>
      </div>
    </nav>


    <!-- Will give us notice if login/logout was sucessful or not
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    -->
    <%= yield %>
  </body>
</html>
