<!DOCTYPE html>
<html>
  <head>
    <title>Classroom Dashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default">

      <div class="container">

        <!--<div class="style_alien_navbar">
          <%= image_tag("alien.png", :alt => "rss feed") %>
        </div>
      -->
        <div class="navbar-header">
          <%= link_to "CLASSROOM DASHBOARD", root_path, class: "navbar-brand" %>
        </div>

        <ul class="nav navbar-nav" style="float:right;">
          <li><%= link_to "Add Course Section", new_section_path %></li>
        </ul>
      </div>

    </nav>

    <%= yield %>
  </body>
</html>
