<br>
<br>
<br>
<div class="col-md-4 col-md-offset-4">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} CHARACTERS MINIMUM" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
    </div>

    <div class="form-actions">
      <h2 class=signup_link><%= f.button :submit, "SIGN UP" %></h2>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>


</div>

<div class="style_alien_signup">
	<%= image_tag("alien.png", :alt => "rss feed") %>
</div>
