<div class="col-md-6 col-md-offset-3">

  <div class="new-student-form">

    <h1 class ="edit_student"> Edit Student </h1>

    <!-- loads in form to edit student  -->
    <%= simple_form_for([@section, @student]) do |f|%>
      <%= f.input :firstName, label: "First Name" %>
      <%= f.input :lastname, label: "Last Name" %>
      <%= f.input :pronouns, label: "Pronouns" %>
      <%= f.input :school, label: "School", as: :select, collection: ['HMC', 'SCR', 'CMC ', 'POM', 'PZ'] %>
      <%= f.input :info, label: "Additional Info" %>
      <%= f.file_field :student_img, label: "Upload Image", multiple: true, name: "student[student_img]" %>
      <br>
      <%= f.button :submit %>
    <% end %>

    <!-- link back to student page  -->
    <h5><%= link_to "Cancel", section_path(@section)%></h5>

    <h5 class = delete_section_link><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, section_student_path, method: :delete, data: {confirm: "Are you sure?"}%></h5>

  </div>

</div>
