<% @students.each do |student| %>
  <a href="/students/<%= student.id %>">
    <%= image_tag student.student_img.url(:student_index) %>
  </a>
  <h2><%= student.firstName %> </h2>
<% end %>

<%= link_to "Add Student", new_student_path%>

<%= link_to "Random Student!", randomize_path%>
