<!-- <nav class="navbar navbar-default">
	<div class="container">

    <ul class="nav navbar-nav navbar-left">
      <a href="#"><%= link_to "Flashcards", section_flashcards_path(@section)%></a>
      <a href="#"><%= link_to "Memory Game", section_quiz_path(@section)%></a>
    </ul>

		<div class="navbar-header">
      <%= link_to @section.course + " " + @section.semester, section_path, class: "navbar-brand" %>
      <!-- <h1>
          <%= @section.course %>
          <%= @section.semester %>
      </h1> -->
    <!-- </div>

		<ul class="nav navbar-nav navbar-right">
      <div style="text-align:right">
        <p class = add_student><%= link_to "Add Student", new_section_student_path(@section)%></p>
      </div>
    </ul>
	</div>
</nav>


Display section information -->
<!-- <h1>
    <%= @section.course %>
    <%= @section.semester %>
</h1>

<!-- student list page at section/:section_id/students -->
<!-- <h1 class = students_header>Student List</h1>

<div style="text-align:center">
  <p class = add_student><%= link_to "Add Student", new_section_student_path(@section)%></p>
</div>

<% @section.students.each do |student|%>
<% if student != nil then %>
<%= render student %>
<% end %>
<% end %>  --> -->
