<!-- individual student's page -->
<nav class="navbar navbar-default">
	<div class="container">

    <ul class="nav navbar-nav navbar-left">
      <a href="#"><%= link_to "Flashcards", section_flashcards_path(@section)%></a>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="#"><%= link_to "Memory Game", section_quiz_path(@section)%></a>
    </ul>

		<div class="navbar-header">
      <%= link_to @section.course + " " + @section.semester, section_path(@section), class: "navbar-brand" %>
    </div>

		<ul class="nav navbar-nav navbar-right">
      <div style="text-align:right">
        <a href="#"><%= link_to "Student List", section_path(@section)%></a>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <a href="#"><%= link_to "Add Student", new_section_student_path(@section)%></a>
      </div>
    </ul>
	</div>
</nav>

<div class="student_info">
  <%= image_tag @student.student_img.url(:student_show) %>
  <br>
  <h1><%= @student.firstName %>
  <%= @student.lastname %> </h1>
	<div class="edit_icon">
		<%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_section_student_path %>
	</div>
	<p> Pronouns:
  <%= @student.pronouns %> </p>
	<p> School:
  <%= @student.school %> </p>
	<p> Additional info:
  <%= @student.info %></p>
</div>
