<!-- individual student's page -->
<nav class="navbar navbar-default">
	<div class="container">

    <ul class="nav navbar-nav navbar-left">
      <a href="#"><%= link_to "Flashcards", section_flashcards_path(@section)%></a>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="#"><%= link_to "Memory Game", section_quiz_path(@section)%></a>
    </ul>

		<div class="navbar-header">
      <%= link_to @section.course + " " + @section.semester, section_path(@section), class: "navbar-brand" %>
    </div>

		<ul class="nav navbar-nav navbar-right">
      <div style="text-align:right">
        <a href="#"><%= link_to "Student List", section_path%></a>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <a href="#"><%= link_to "Add Student", new_section_student_path(@section)%></a>
      </div>
    </ul>
	</div>
</nav>



<div class="student_info">
  <%= image_tag @student.student_img.url(:student_index) %>
  <br>
  <%= @student.firstName %>
  <%= @student.lastname %>
	<br>
  <br>

  <br>
	<br>
  <%= link_to "Edit/Delete", edit_section_student_path %>
</div>
