<h1><div class="link_home"><%= link_to "Classroom Dashboard", root_path%></div></h1>

<br>
<br>
<br>
<br>
<!-- fix this to better form lol  -->

<!-- form for new and edit, loaded in new.html.erb -->
<!-- Fields prompted to the user to create a new Section -->
<%= simple_form_for @section do |f| %>
	<%= f.input :course, label: "Course (ex: CS5)" %>
	<%= f.input :semester, label: "Semester (ex:S2018)" %>
	<!-- covered in semester? -->
	<!-- <%= f.input :year %> -->
	<!-- professor should eventually be collected through professor login -->
	<!-- <%= f.input :professor, label: "Professor(s)" %> -->
	<%= f.button :submit %>
<% end %>
