<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#"><%= link_to "Student List", section_students_path(@section)%></a>
  <a href="#"><%= link_to "Flashcards", section_flashcards_path(@section)%></a>
</div>

<span style="color:white;font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>


<script>
  function openNav() {
      document.getElementById("mySidenav").style.width = "200px";
  }

  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
  }
</script>

<!-- Display section information -->
<h1>
    <%= @section.course %>
    <%= @section.semester %>
</h1>

<h1> Random Student </h1>
<br>
<br>
<br>
<br>

<div style="text-align:center">
  <% @student =  @section.students.all.order("RANDOM()").limit(1)[0] %>
  <% if @student != nil then %>
  <%= image_tag @student.student_img.url(:student_index) %>
  <br>
  <%= link_to @student.firstName, section_student_path(@student.section_id, @student) %>
  <%= link_to @student.lastname, section_student_path(@student.section_id, @student) %>
  <% end %>


</div>

<h3 style="text-align: center"><%= link_to "Generate Random Student!", section_flashcards_path(@section)%></h3>
