<nav class="navbar navbar-default">
	<div class="container">

	    <ul class="nav navbar-nav navbar-left">
	      <a href="#"><%= link_to "Flashcards", section_flashcards_path(@section), {:class => "flashcard_button"}%></a>
	      &nbsp;
	      &nbsp;
	      &nbsp;
	      &nbsp;
	      &nbsp;

	      <a href="#"><%= link_to "Memory Game", section_quiz_path(@section)%></a>
	    </ul>

		  <div class="navbar-header">
	      <%= link_to @section.course + " " + @section.semester, section_path, class: "navbar-brand" %>
	    </div>

			<ul class="nav navbar-nav navbar-right">
	      <div style="text-align:right">
	        <a href="#"><%= link_to "Student List", section_path(@section)%></a>
	        &nbsp;
	        &nbsp;
	        &nbsp;
	        &nbsp;
	        &nbsp;
	        <a href="#"><%= link_to "Add Student", new_section_student_path(@section)%></a>
	      </div>
	    </ul>
	</div>
</nav>

<!-- <h1> Flashcards </h1> -->

<h3 style="text-align: center;  font-family: 'Work Sans', sans-serif;
  font-weight: 400;font-size:40px"> Up Now:
	<br>
<div id="up-now" style="text-align: center"></div>
</h3>

<br>

<h4 style="text-align: center">Up Next:	        &nbsp;
	<button onClick="skip()"> skip </button>
  <div id="up-next" style="text-align: center; size:200px"></div>
</h4>

<div class="style_alien_flashcards">
  <%= image_tag("alien.png", :alt => "rss feed") %>
</div>

<div class="flashcard_responses">
		<%= image_tag("flashcard_responses.png", :alt => "rss feed") %>
</div>



<script>

	$(document).keydown(function(e) {
		if (e.keyCode == 39) {
			next();
		};
	});

	var student_list = <%= @section.students.all.order("RANDOM()").to_json.html_safe %>;
	var n = <%= @section.students.all.length %>;
	var i = 0;

	// initialize page
	upnow(i);
	if (n > 1) {
		upnext(i+1);
	}

	function next() {
		if (i < n-1) {
			i = i + 1;
		} else {
			i = 0;
			// reached the end, re-randomize
			student_list = <%= @section.students.all.order("RANDOM()").to_json.html_safe %>;
			student_list = student_list.sort(function(a, b){return 0.5 - Math.random()});
			n = <%= @section.students.all.length %>;
		}
		upnow(i);
		if (i == n-1) {
			// display nothing when new list about to be generated
			// TODO: better solution
			$("#up-next").html("");
		} else {
			upnext(i+1);
		}
	};

	// renders student i in #up-now div
	function upnow(i) {
		console.log(student_list[i].student_img_file_name == null);
		$("#up-now").html("<br>");
		// alien for no photo 
		if (student_list[i].student_img_file_name == null) {
			$("#up-now").append('<img src="/images/student_show/alien.png"/>');
		} else {
		// account for ID digits in image url
		if (student_list[i].id >= 100) {
			$("#up-now").append('<img src="/system/students/student_imgs/000/000/' + student_list[i].id + '/student_show/' + student_list[i].student_img_file_name + '" />');
		}
		if (student_list[i].id >= 10) {
			$("#up-now").append('<img src="/system/students/student_imgs/000/000/0' + student_list[i].id + '/student_show/' + student_list[i].student_img_file_name + '" />');
		}
		else {
			$("#up-now").append('<img src="/system/students/student_imgs/000/000/00' + student_list[i].id + '/student_show/' + student_list[i].student_img_file_name + '" />');
		}
	}
		$("#up-now").append("<br> <br>");
		$("#up-now").append(student_list[i].firstName);
		$("#up-now").append(" ");
		$("#up-now").append(student_list[i].lastname);
	};

	// renders student i in #up-next div
	function upnext(i) {
		$("#up-next").html("<br>");
		$("#up-next").append(student_list[i].firstName);
		$("#up-next").append(" ");
		$("#up-next").append(student_list[i].lastname);
	};

	function skip() {
		if (i < n) {
			student_list.splice(i+1,1);
			n = n-1;
		} else {
			$("#up-next").html("");
		}
		upnext(i+1);
	};

</script>
