<nav class="navbar navbar-default">
	<div class="container">

    <ul class="nav navbar-nav navbar-left">
      <a href="#"><%= link_to "Flashcards", section_flashcards_path(@section)%></a>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="#"><%= link_to "Memory Game", section_quiz_path(@section)%></a>
    </ul>

		<div class="navbar-header">
      <%= link_to @section.course + " " + @section.semester, section_path, class: "navbar-brand" %>
    </div>

		<ul class="nav navbar-nav navbar-right">
      <div style="text-align:right">
        <a href="#"><%= link_to "Student List", section_path%></a>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <a href="#"><%= link_to "Add Student", new_section_student_path(@section)%></a>
      </div>
    </ul>
	</div>
</nav>

<br>
<h1> Flashcards </h1>
<br>
<br>

<h3 style="text-align: center"> Up Now:
<div id="up-now" style="text-align: center"></div>
</h3>

<br>

<h4 style="text-align: center">Up Next:
  <div id="up-next" style="text-align: center; size:200px"></div>
</h4>

<br>

<div id="next-button">
<button onClick="next()" onkeypress="next()" style="text-align: center;"> Random Student
</button>
</div>

<script>
	$(document).keydown(function(e) {
		if (e.keyCode == 39) {
			next();
		};
	});

	var student_list = <%= @section.students.all.order("RANDOM()").to_json.html_safe %>;
	var n = <%= @section.students.all.length %>;
	var i = 0;
	$("#up-now").html(student_list[i].firstName);
	$("#up-now").append(" ");
	$("#up-now").append(student_list[i].lastname);
	$("#up-next").html(student_list[i+1].firstName);
	$("#up-next").append(" ");
	$("#up-next").append(student_list[i+1].lastname);

	function next() {
		if (i < n-1) {
			i = i + 1;
		} else {
			i = 0;
			// reached the end, re-randomize
			student_list = student_list.sort(function(a, b){return 0.5 - Math.random()});
		}
		$("#up-now").html(student_list[i].firstName);
		$("#up-now").append(" ");
		$("#up-now").append(student_list[i].lastname);
		if (i == n-1) {
			$("#up-next").html(student_list[0].firstName);
			$("#up-next").append(" ");
			$("#up-next").append(student_list[0].lastname);
		} else {
			$("#up-next").html(student_list[i+1].firstName);
			$("#up-next").append(" ");
			$("#up-next").append(student_list[i+1].lastname);
		}
	}
</script>
