<!-- HOMEPAGE -->

<!-- List each section and a link to that section's info and it's student list -->
<% if admin_signed_in? %>
<nav class="navbar navbar-default">
	<div class="container">

		<div class="navbar-header">
			<%= link_to "Sections", root_path, class: "navbar-brand" %>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<h5 class = add_new_section><%= link_to "Add Course Section", new_section_path %></h5>
		</ul>
	</div>
</nav>



	<br>
	<br>
	<br>


	<table>
	  <tr>
	    <th>Sections</th>
	    <th></th>
	  </tr>

	<% @section.each do |section| %>
	  <% if section != nil then %>
	    <tr>
	      <td><h3 class = link_to_section><%= link_to section.course + " " + section.semester, section_path(section)%></h3></td>
	      <td><%= link_to "Edit/Delete Section", edit_section_path(section) %></td>
	    </tr>
	  <% end %>
	<% end %>
	</table>


	<!-- <div style="text-align:center">
	    <p class = edit_section_link><%= link_to "Edit/Delete Section", edit_section_path(@section)%></p>
	</div></p> -->



<% else %>

	<div class="style_alien">
		<%= image_tag("alien.png", :alt => "rss feed") %>
	</div>

<% end %>
