<!-- HOMEPAGE -->

<% if admin_signed_in? %>

<!-- List each section and a link to that section's info and it's student list -->
	<nav class="navbar navbar-default">
		<div class="container">

			<div class="navbar-header">
				<%= link_to "Sections", root_path, class: "navbar-brand" %>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<h5 class = add_new_section><%= link_to "Add Course Section", new_section_path %></h5>
			</ul>
		</div>
	</nav>

	<br>
	<br>
	<br>

	<table>
	  <tr>
	    <th>Sections</th>
	    <th></th>
	  </tr>


	<% @section.each do |section| %>
		 <% if section != nil then %>
			    <tr>
			      <td><%= link_to section.course + " " + section.semester, section_path(section)%></td>
			      <td><%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_section_path(section) %></td>
			    </tr>
			 <% end %>
		 <% end %>
	</table>

<% else %>

	<div class="style_alien">
		<%= image_tag("alien.png", :alt => "rss feed") %>
	</div>

	<div class="homepage_speechbubble">
		<%= image_tag("homepage-speech-bubble.png", :alt => "rss feed") %>
	</div>
	<div class="cilantro">
		<%= image_tag("cilantro.png", :alt => "rss feed") %>
		<%= link_to image_tag("cilantro.png"), "https://giphy.com/gifs/spam-xdnytp8742kg0/fullscreen" %>
	</div>
<% end %>
