<nav class="navbar navbar-default">
	<div class="container">

    <ul class="nav navbar-nav navbar-left">
      <a href="#"><%= link_to "Flashcards", section_flashcards_path(@section)%></a>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="#"><%= link_to "Memory Game", section_quiz_path(@section)%></a>
    </ul>

		<div class="navbar-header">
      <%= link_to @section.course + " " + @section.semester, section_path, class: "navbar-brand" %>
    </div>

		<ul class="nav navbar-nav navbar-right">
      <div style="text-align:right">
        <a href="#"><%= link_to "Student List", section_path%></a>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <a href="#"><%= link_to "Add Student", new_section_student_path(@section)%></a>
      </div>
    </ul>
	</div>
</nav>

<br>
<h1> Memory Game </h1>
<br>



<h3 style="text-align: center"><%= link_to "Generate Random Student!", section_quiz_path(@section)%></h3>

<div style="text-align:center">
  <button onclick="reveal()">Reveal/Hide Name</button>
  <br>
  <br>

  <% @student =  @section.students.all.order("RANDOM()").limit(1)[0] %>
  <% if @student != nil then %>
  	<%= image_tag @student.student_img.url(:student_index) %>
  <% end %>

	<br>
	<div id="myDIV", style="display:none;", style="center">
		<% if @student != nil then %>
	  	<%= @student.firstName %>
	  	<%= @student.lastname %>
		<% end %>
	</div>
</div>


<script>
function reveal() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
