<nav class="navbar navbar-default">
	<div class="container">

    <ul class="nav navbar-nav navbar-left">
      <a href="#"><%= link_to "Flashcards", section_flashcards_path(@section)%></a>
      <a href="#"><%= link_to "Memory Game", section_quiz_path(@section)%></a>
    </ul>

		<div class="navbar-header">
      <%= link_to @section.course + " " + @section.semester, section_path, class: "navbar-brand" %>
      <!-- <h1>
          <%= @section.course %>
          <%= @section.semester %>
      </h1> -->
    </div>

		<ul class="nav navbar-nav navbar-right">
      <div style="text-align:right">
        <p class = add_student><%= link_to "Add Student", new_section_student_path(@section)%></p>
      </div>
    </ul>
	</div>
</nav>

<h1> Memory Game </h1>

<div style="text-align:center">
  <% @student =  @section.students.all.order("RANDOM()").limit(1)[0] %>
  <% if @student != nil then %>
  	<%= image_tag @student.student_img.url(:student_index) %>
  <% end %>


  	<br>
  	<br>
	<button onclick="reveal()">Reveal Name</button>
	<br>
	<div id="myDIV", style="display:none;", style="center">
		<% if @student != nil then %>
	  	<%= @student.firstName %>
	  	<%= @student.lastname %>
		<% end %>
	</div>
</div>


<script>
function reveal() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
