<nav class="navbar navbar-default">
	<div class="container">

	    <ul class="nav navbar-nav navbar-left">
	      <a href="#"><%= link_to "Flashcards", section_flashcards_path(@section)%></a>
	      &nbsp;
	      &nbsp;
	      &nbsp;
	      &nbsp;
	      &nbsp;
	      <a href="#"><%= link_to "Memory Game", section_quiz_path(@section), {:class => "memory_game_button"}%></a>
	    </ul>

		  <div class="navbar-header">
	      <%= link_to @section.course + " " + @section.semester, section_path, class: "navbar-brand" %>
	    </div>

			<ul class="nav navbar-nav navbar-right">
	      <div style="text-align:right">
	        <a href="#"><%= link_to "Student List", section_path(@section)%></a>
	        &nbsp;
	        &nbsp;
	        &nbsp;
	        &nbsp;
	        &nbsp;
	        <a href="#"><%= link_to "Add Student", new_section_student_path(@section)%></a>
	      </div>
	    </ul>
	</div>
</nav>

<div class="style_alien_quiz">
  <%= image_tag("alien.png", :alt => "rss feed") %>
</div>

<div class="quiz-instructions">
	<%= image_tag("memory-instructions.png", :alt => "rss feed") %>
</div>

<br>
<!-- <h1> Memory Game </h1> -->
<br>

<div style="text-align:center">
  <div id="name" style="visibility:hidden;" style="center"></div>
  <br>
  <br>
  <div id="image" style="center"></div>
</div>


<script>
$(document).keydown(function(e) {
	if (e.keyCode == 32) {
		reveal();
	} else if (e.keyCode == 39) {
		next();
	};
});

var student_list = <%= @section.students.all.order("RANDOM()").to_json.html_safe %>;
var n = <%= @section.students.all.length %>;
var i = 0;

render_student(i);


// renders student i in #up-now div
function render_student(i) {
	// skip students without photos
	if (student_list[i].student_img_file_name == null ) {
		i = i+1;
		render_student(i);
	};
	$("#name").html('<a href=/sections/' + student_list[i].section_id +'/students/' + student_list[i].id + '>' + student_list[i].firstName + " " + student_list[i].lastname+'</a>');
	$("#image").html("<br>");
	// account for ID digits in image url
	if (student_list[i].id >= 100) {
		$("#image").append('<a href=/sections/' + student_list[i].section_id +'/students/' + student_list[i].id + '><img src="/system/students/student_imgs/000/000/' + student_list[i].id + '/student_show/' + student_list[i].student_img_file_name + '" /></a>');
	}
	if (student_list[i].id >= 10) {
		$("#image").append('<a href=/sections/' + student_list[i].section_id +'/students/' + student_list[i].id + '><img src="/system/students/student_imgs/000/000/0' + student_list[i].id + '/student_show/' + student_list[i].student_img_file_name + '" /></a>');
	}
	else {
		$("#image").append('<a href=/sections/' + student_list[i].section_id +'/students/' + student_list[i].id + '><img src="/system/students/student_imgs/000/000/00' + student_list[i].id + '/student_show/' + student_list[i].student_img_file_name + '" /></a>');
	}
};

function reveal() {
    var x = document.getElementById("name");
    if (x.style.visibility === "hidden") {
        x.style.visibility = "visible";
    } else {
        x.style.visibility = "hidden";
    }
};


function next() {
	var x = document.getElementById("name");
	if (x.style.visibility === "visible") {
			x.style.visibility = "hidden";
	};
	if (i < n-1) {
		i = i + 1;
	} else {
		i = 0;
		// reached the end, re-randomize
		student_list = student_list.sort(function(a, b){return 0.5 - Math.random()});
	}
	render_student(i);
};

</script>
