<!-- Content that is displayed when a Section is clicked on -->
<!-- show's section's attributes, students, add student functionality, and edit/delete course functionality -->

<!-- Display section information -->
<div style="text-align:center">
    <%= @section.course %>
    <%= @section.semester %>
    <%= @section.year %>
    <%= @section.professor %>
</div>


<!-- Ability to add a student to a section -->
<div style="text-align:center">
    <p> <%= link_to "Add Student", new_section_student_path(@section)%> </p>

    <!-- Display a random student -->
    <p><%= link_to "Random Student!", randomize_path%> </p>

    <!-- List all of the students in this section -->
    <p><%= link_to "Student List", student_list_path%></p>


    <!-- Functionality to edit the fields/info of a Section and delete the entire Section -->
    <p><%= link_to "Edit", edit_section_path(@section)%></p>
    <p><%= link_to "Delete", section_path(@section), method: :delete, data: {confirm: "Are you sure?"} %>
</div></p>
<%= render @section.students.order("lastname ASC") %>
<!-- loads in students by last name alphabetically -->
<!-- refers to students/_student.html.erb for template  -->
