<!-- Content that is displayed when a Section is clicked on -->
<!-- show's section's attributes, students, add student functionality, and edit/delete course functionality -->

<!-- Display section information -->
<h1>
    <%= @section.course %>
    <%= @section.semester %>
    <!-- <%= @section.year %>
    <%= @section.professor %> -->
</h1>
<br>
<br>
<br>
<br>
<!-- fix this to better form lol  -->

<!-- Ability to add a student to a section -->
<div style="text-align:center">
  <p><%= link_to "Student List", section_students_path(@section)%> </p>
    <!-- Display a random student -->
    <p><%= link_to "Flashcards", section_flashcards_path(@section)%> </p>

    <!-- List all of the students in this section -->

    <!-- Functionality to edit the fields/info of a Section and delete the entire Section -->
    <p><%= link_to "Edit", edit_section_path(@section)%></p>
    <p><%= link_to "Delete", section_path(@section), method: :delete, data: {confirm: "Are you sure?"} %>
</div></p>
